@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
	background-color: rgb(234, 249, 193);
	font-family: "Poppins", sans-serif;
}

.container {
	width: 99vw;
	height: 99vh;
}
.header {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-column-gap: 25px;
	/* color: #375579ff; */
	padding: 50px;
	padding-bottom: 20px;
	padding-top: 25px;
	font-size: 20px;
}

.about-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 25px;

	margin-top: 0;
	padding: 50px;
	padding-top: 0px;
	padding-bottom: 130px;
}

.title {
	grid-column-start: 1;
	grid-column-end: 6;
	color: #375579ff;
	line-height: 130px;
}

.title p {
	font-size: 140px;
	margin: 0;
	margin-top: 20px;
}

.cristinaImg {
	grid-column-start: 1;
	grid-column-end: 7;
}

.cristinaImg img {
	border-radius: 50%;
	margin: 15px;
	margin-left: 30px;
	margin-top: 30px;
	height: 250px;
	width: auto;
}

.name {
	grid-column-start: 8;
	grid-column-end: 13;
	grid-row-start: 2;
	text-align: right;
}
.name p {
	font-size: 140px;
	color: #375579ff;
	line-height: 130px;
	margin: 0;
}

.about-me {
	grid-column-start: 4;
	grid-column-end: 8;
	grid-row-start: 4;
	font-size: 30px;
	text-align: left;
}

.tech-container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(3, 1fr);
    margin-top: 100px;
    
	@media (max-width: 890px) {
		height: auto;
		grid-template-rows: 62px;
	}
}

.tech-title {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 4;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.tech-title h3 {
	font-size: 100px;
	margin-left: 50px;
	color: #c2942aff;
}

.tech-list {
	grid-column-start: 2;
	grid-column-end: 9;
	grid-row-start: 2;
	grid-row-end: 4;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 10px;
}

.tech-list ul {
    font-size: 30px;

}

/* #1d07bdf
#bd07a4ff 
d1f969ff
#1c27beff
#c2dbdeff
#dfe1fbff
#b3b8fbf
#c3c6d7ff*/
